.login-screen {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 5%;
  flex-direction: column;
}

.highlighted-btn {
  padding: 15px;
  border: none;
  border-radius: 20px;
  background-color: var(--primary-color);
  color: #fff;
  font-size: 18px;
  width: 100%;
  text-align: center;
}

.font-sm-2 {
  font-size: 16px;
}

.error-text {
  color: red;
  font-size: 14px;
}

.search-input-2 {
  padding: 10px;
  width: 100%;
}

@media (min-width: 768px) {
  .login-screen {
    flex-direction: row;
    padding: 2%;
  }

  .highlighted-btn {
    font-size: 20px;
  }

  .font-sm-2 {
    font-size: 20px;
  }
}

@media (max-width: 767px) {
  .container {
    padding: 0;
  }

  .row {
    flex-direction: column;
  }

  .col-md-6 {
    width: 100%;
    padding: 10px;
  }

  .col-md-6 img {
    display: block;
    width: 70%;
    height: auto;
    margin-top: 170px;
  }

  .font-lg {
    font-size: 24px;
    text-align: center;
  }

  .font-sm-2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .font-sm {
    font-size: 14px;
    margin-bottom: 5px;
  }

  .link {
    display: block;
    text-align: center;
    margin: 10px 0;
    font-size: 14px;
    color: var(--primary-color);
  }
}